Repository ayais12210-hub/Linguamate-ai-tutor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linguamate/core-team, @linguamate/backend-team, @linguamate/qa-team, @linguamate/devops-team, @linguamate/docs-team, @linguamate/security-team, @linguamate/frontend-team, @linguamate/content-team

Refactor: Remove lazy loading utilities and update dependencies
  .cursor/tasks/content-pipeline.yml
  .github/.github/release-drafter.yml
  .github/auto-assign.yml
  .github/workflows/bots-megalinter.yml
  backend/trpc/routes/tutor-data/tutor-data.ts
  hooks/useSpeechRecognition.ts
  jest.config.ts
  lib/errors/AppError.ts
  package-lock.json
  package.json
  src/patterns/lazy/lazyScreens.ts.bak
  tests/config/jest.setup.ts
  types/global.d.ts
Owners: @linguamate/core-team, @linguamate/devops-team, @linguamate/backend-team, @linguamate/frontend-team, @linguamate/qa-team

Refactor: Update coverage reports and fix tests
  .storybook/preview.tsx
  __tests__/error-boundary.test.tsx
  __tests__/lib/errors/result.test.ts
  __tests__/lib/net/http.test.ts
  __tests__/lib/state/safeStorage.test.ts
  __tests__/onboarding.search.ui.test.tsx
  __tests__/react-native-rules.test.tsx
  __tests__/routing.smoke.test.tsx
  __tests__/translator.integration.test.tsx
  __tests__/translator.unit.test.tsx
  __tests__/tutor-data-fetcher.test.ts
  __tests__/useMicInput.test.ts
  coverage/cobertura-coverage.xml
  eslint.config.js
  hooks/use-learning-session.ts
  hooks/useAsync.ts
  lib/correlation-id.ts
  lib/errors/AppError.ts
  lib/offline/netStatus.ts
  package.json
  src/patterns/lazy/lazyScreens.tsx
  tsconfig.json
Owners: @linguamate/core-team, @linguamate/qa-team, @linguamate/frontend-team

Refactor: Improve data fetching and error handling
  __tests__/error-boundary.test.tsx
  components/TutorDataFetcher.tsx
  coverage/cobertura-coverage.xml
  hooks/use-learning-session.ts
  hooks/useAsync.ts
  hooks/useNotifications.ts
  hooks/useSpeech.ts
  hooks/useSpeechRecognition.ts
  hooks/useTutorData.ts
  lib/mmkv-storage.ts
  lib/offline/netStatus.ts
  lib/secure-key-manager.ts
  lib/trpc.ts
  src/patterns/lazy/lazyScreens.tsx
  tsconfig.json
Owners: @linguamate/qa-team, @linguamate/frontend-team, @linguamate/core-team, @linguamate/backend-team

chore: Update dependencies
  omni-mcp/DEPENDENCY_UPDATE_SUMMARY.md
  omni-mcp/package.json
  omni-mcp/pnpm-lock.yaml
Owners: @linguamate/docs-team, @linguamate/core-team

chore(omni-mcp): upgrade vitest/tsx and bump pino to drop fast-redact
  omni-mcp/apps/orchestrator/package.json
  omni-mcp/package.json
  omni-mcp/pnpm-lock.yaml
Owners: @linguamate/core-team

.github/CODEOWNERS:

# CODEOWNERS file for Linguamate
# 
# This file defines individuals or teams that are responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request
# that modifies code that they own.
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# These owners will be requested for review unless a later match takes precedence
* @linguamate/core-team

# Backend & API
/backend/ @linguamate/backend-team
/lib/trpc.ts @linguamate/backend-team
/lib/api.ts @linguamate/backend-team

# Testing infrastructure
/tests/ @linguamate/qa-team
/__tests__/ @linguamate/qa-team
jest.config.ts @linguamate/qa-team
playwright.config.ts @linguamate/qa-team
/.github/workflows/ @linguamate/devops-team

# Documentation
/docs/ @linguamate/docs-team
*.md @linguamate/docs-team

# Configuration files
package.json @linguamate/core-team
tsconfig.json @linguamate/core-team
app.json @linguamate/core-team

# Security & validation
/modules/security/ @linguamate/security-team
/backend/validation/ @linguamate/security-team
/lib/validation/ @linguamate/security-team
/schemas/ @linguamate/security-team

# UI Components
/components/ @linguamate/frontend-team
/app/components/ @linguamate/frontend-team

# Modules
/modules/ @linguamate/content-team

# State management
/state/ @linguamate/frontend-team
/hooks/ @linguamate/frontend-team

# CI/CD
/.github/ @linguamate/devops-team
