Repository ayais12210-hub/Linguamate-ai-tutor, changes with the labels that .github/labeler.yml gives for each.
All labels: deps, ci, frontend, backend, docs, tests, mcp

Refactor: Remove lazy loading utilities and update dependencies
  .cursor/tasks/content-pipeline.yml
  .github/.github/release-drafter.yml
  .github/auto-assign.yml
  .github/workflows/bots-megalinter.yml
  backend/trpc/routes/tutor-data/tutor-data.ts
  hooks/useSpeechRecognition.ts
  jest.config.ts
  lib/errors/AppError.ts
  package-lock.json
  package.json
  src/patterns/lazy/lazyScreens.ts.bak
  tests/config/jest.setup.ts
  types/global.d.ts
Labels: deps, ci, backend, tests

Refactor: Update coverage reports and fix tests
  .storybook/preview.tsx
  __tests__/error-boundary.test.tsx
  __tests__/lib/errors/result.test.ts
  __tests__/lib/net/http.test.ts
  __tests__/lib/state/safeStorage.test.ts
  __tests__/onboarding.search.ui.test.tsx
  __tests__/react-native-rules.test.tsx
  __tests__/routing.smoke.test.tsx
  __tests__/translator.integration.test.tsx
  __tests__/translator.unit.test.tsx
  __tests__/tutor-data-fetcher.test.ts
  __tests__/useMicInput.test.ts
  coverage/cobertura-coverage.xml
  eslint.config.js
  hooks/use-learning-session.ts
  hooks/useAsync.ts
  lib/correlation-id.ts
  lib/errors/AppError.ts
  lib/offline/netStatus.ts
  package.json
  src/patterns/lazy/lazyScreens.tsx
  tsconfig.json
Labels: deps, backend, tests

Refactor: Improve data fetching and error handling
  __tests__/error-boundary.test.tsx
  components/TutorDataFetcher.tsx
  coverage/cobertura-coverage.xml
  hooks/use-learning-session.ts
  hooks/useAsync.ts
  hooks/useNotifications.ts
  hooks/useSpeech.ts
  hooks/useSpeechRecognition.ts
  hooks/useTutorData.ts
  lib/mmkv-storage.ts
  lib/offline/netStatus.ts
  lib/secure-key-manager.ts
  lib/trpc.ts
  src/patterns/lazy/lazyScreens.tsx
  tsconfig.json
Labels: frontend, backend, tests

chore: Update dependencies
  omni-mcp/DEPENDENCY_UPDATE_SUMMARY.md
  omni-mcp/package.json
  omni-mcp/pnpm-lock.yaml
Labels: deps, docs, mcp

chore(omni-mcp): upgrade vitest/tsx and bump pino to drop fast-redact
  omni-mcp/apps/orchestrator/package.json
  omni-mcp/package.json
  omni-mcp/pnpm-lock.yaml
Labels: deps, mcp

.github/labeler.yml:

deps:
  - changed-files:
      - any-glob-to-any-file: ["**/package.json","**/pnpm-lock.yaml","**/yarn.lock",".github/workflows/**"]
ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**"]
frontend:
  - changed-files:
      - any-glob-to-any-file: ["app/**","components/**","modules/**"]
backend:
  - changed-files:
      - any-glob-to-any-file: ["backend/**","lib/**"]
docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**","**/*.md"]
tests:
  - changed-files:
      - any-glob-to-any-file: ["**/__tests__/**","tests/**"]
mcp:
  - changed-files:
      - any-glob-to-any-file: ["omni-mcp/**"]
